.App {
  text-align: center;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20px;
}

.navBar {
  display: flex;
  align-items: center;
  margin-top: 210px;
  justify-content: center;
}

.navBar ul{
  
  display: flex;
  align-items: center;
  justify-content: center;
   border-bottom: 1px solid #ccc;
}
 
.navBar li {
  color: #ccc;
  list-style: none;
  padding: 0px 10px;
}

.navBar ul li a {
  text-decoration: none;
  display: inline-block;  
  padding: 10px 10px 11px 10px;
  color: #ccc;
  transition: color 0.5s;
}

.underline {
  position: absolute;
  border-bottom: 2px solid transparent;
}

.navBar ul li.active-link .underline {
  width: 100%;
  background-color: #000;
}

.navBar ul li:hover a {
  color: #0070c9;
}

.navBar ul li.active-link a,
.navBar ul li.active-link a:hover {
  color: #000;
}

.navBarul li:active a {
  transition: none;
  color: rgba(255,255,255,0.76);
}

.navBar a,
.underline {
  transition: all .35s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
